@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;

// ===================================================
// AXIS — FOOTER (Section)
// ===================================================

// ---------------------------------------------------
// Company Copy (Inside Glass Panel)
// ---------------------------------------------------
.company-copy {
  margin-top: token.$section-pad;
}

// ---------------------------------------------------
// Creator Signature (Outside Glass Panel)
// ---------------------------------------------------
footer {
  @include mix.flex($justify: center);
  position: sticky;
  bottom: 0.8rem;
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
}