@use "../abstracts/tokens" as token;

// ---------------------------------------------------
// Company Copy (Inside Glass Panel)
// ---------------------------------------------------
.company-copy {
  margin-top: token.$gutter;
  padding-top: token.$space-16;
}

// ---------------------------------------------------
// Creator Signature (Outside Glass Panel)
// ---------------------------------------------------
.creator-signature {
  margin-block: token.$gutter;
}
