@use "../abstracts/tokens" as token;
@use "../abstracts/mixins" as mix;

.header {
  @include mix.flex(column, center, center, token.$gutter);
  text-align: center;
  
  &__text { max-width: 32ch; }

  p  { margin-top: token.$space-ui-12; }
}